.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #525252; 
  }
  
  .about-me-section {
    max-width: 800px;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .profile-picture {
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    border-radius: 50%; /* Circular image */
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
  }
  