#portfolio {
  text-align: center;
  padding: 50px;
  background-color: #cfcfcf;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project{
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;  
}


.project-image {
  margin: auto;
  width: 64px;
  border-radius: 50%;
  transition: width 0.5s ease;
}

.project-details {
  padding: 15px;
  overflow: hidden;
  animation: fadeIn 1s fadeOut 4s;

}

.project-links a {
  text-decoration: none;
  color: #007bff;
}

.project-links a:hover {
  text-decoration: underline;
}

.more-detail {
  padding: 10px;
  border-top: 1px solid #eee;
  overflow: hidden;
  animation: fadeIn 1s fadeOut 4s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.inner {
  overflow: hidden;
}