#portfolio {
  text-align: center;
  padding: 50px;
  background-color: #cfcfcf;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align projects to the left */
  transition: transform 0.5s;
}

.project {
  width: 320px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 2%;
  transition: all 0.5s ease;
  max-height: 1000px;
  overflow: hidden;
  
 
}

.project.focused {
  /* Horizontally centers the project with respect to the container */
  z-index: 10;
  overflow: hidden;
  transition: all .75s ease;
  height: auto;
  max-height: 1000px;

}

.project-image {
  width: 64px;
  border-radius: 50%;
  transition: width 0.5s ease;
}

.project-details {
  padding: 15px;
  overflow: hidden;
  animation: fadeIn 1s fadeOut 4s;

}

.project-links a {
  text-decoration: none;
  color: #007bff;
}

.project-links a:hover {
  text-decoration: underline;
}

.more-detail {
  padding: 10px;
  border-top: 1px solid #eee;
  overflow: hidden;
  animation: fadeIn 1s fadeOut 4s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}